body{
	padding: 0;
	margin: 0;
	
	background: url(images/background.jpg) no-repeat center top / cover;
	height: 100vh;
}	


.MainBlock{
	padding-top: 150px;
	text-align: center;
}

.MainBlock h1{
	font-size: 60px;
	color:white;
}

.NamesButton{
	padding-top: 150px;
}

.ArtjomButton{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-left: 70px;
	float:left;
}

.KristoButton{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-right: 70px;
	float:right;
}

.NimedeKirjeldus{
	float:center;
	color: white;
	font-size: 21px;
	font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 630px) {
    .KristoButton {
        width: 100px;
    }
	.ArtjomButton {
        width: 100px;
    }
}


