body{
	padding: 0;
	margin: 0;
	
	background: url(images/background1.jpeg) no-repeat center top / cover;
	height: 100vh;
}	

.Container{
	width: 990px;
	margin: 0 auto;
}


.MainBlock{
	padding-top: 50px;
	text-align: center;
}

.MainBlock h1{
	font-size: 60px;
	color: #06193d;
	font-family:Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.NamesButton{
	padding-top: 230px;
}

.ArtjomButton{
	background: #06193d;
	color: white;
	border-radius: 30px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-left: 170px;
	float:left;
}

.ArtjomButton:hover{
	background: #092551;
	color: white;
	border-radius: 30px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-left: 170px;
	float:left;
}

.KristoButton{
	background: #06193d;
	color: white;
	border-radius: 30px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-right: 170px;
	float:right;
}

@media screen and (max-width: 630px) {
    .KristoButton {
        width: 100px;
    }
	.ArtjomButton {
        width: 100px;
    }
}


