body{
	padding: 0;
	margin: 0;
	background-color: #e6eaf4;
}	

.Container{
	width: 910px;
	margin: 0 auto;
}

.Header a{
	float: left;
	padding-top: 30px;
	padding-left: 50px;
	font-family: "Lucida Console", Times, serif;
	font-weight: bold;
	font-size: 60px;
}

.Header p{
	margin-top: -31px;
	font-size: 20px;
	padding-left: 60px;
}

hr{
	border: 1px solid black;
}

img{
	margin-top: 21px;
	margin-left: 400px;
	border-radius: 50%;
	width: 180px;
	height: 180px;
}

.Profile .ProfileText{
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.Profile .Text{
	float: left;
	padding-top:2px;
	padding-left: 266px;
	font-size: 18px;
}
.Profile .TextExpl{
	float: right;
	padding-top:1px;
	padding-left: 270px;
	font-size: 18px;
}
.Profile .newText{
	float: left;
	padding-top:2px;
	padding-left: 355px;
	font-size: 18px;
}


.Education{
	padding-top: 30px;
	margin-top: -25px;
}
.Education .EducationText{
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.Education .TÜ{
	float: left;
	padding-top:2px;
	padding-left: 235px;
	font-size: 18px;
}
.Education .TÜYear{
	float: right;
	padding-top:2px;
	padding-left: 270px;
	font-size: 18px;
}
.Education .Nõo{
	float: left;
	padding-left: 357px;
	font-size: 18px;
}
.Education .NõoYear{
	float: right;
	padding-left: 270px;
	font-size: 18px;
}
.Education .JG{
	float: left;
	padding-left: 357px;
	font-size: 18px;
}
.Education .JGYear{
	float: right;
	padding-left: 270px;
	font-size: 18px;
}
.Education .KJ{
	float: left;
	padding-left: 357px;
	font-size: 18px;
}
.Education .KJYear{
	float: right;
	padding-left: 20px;
	font-size: 18px;
}


.Language .LanguageText{
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.Language .Rus{
	float: left;
	padding-top:2px;
	padding-left: 230px;
	font-size: 18px;
}
.Language .RusDesc{
	float: right;
	padding-top:2px;
	padding-left: 270px;
	font-size: 18px;
}
.Language .Est{
	float: left;
	padding-left: 357px;
	font-size: 18px;
}
.Language .EstDesc{
	float: right;
	padding-left: 270px;
	font-size: 18px;
}
.Language .Eng{
	float: left;
	padding-left: 357px;
	font-size: 18px;
}
.Language .EngDesc{
	float: right;
	padding-left: 260px;
	font-size: 18px;
}

.Skill .SkillText{
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.Skill .Computer{
	float: center;
	padding-top:2px;
	padding-left: 283px;
	font-size: 18px;
}

.WorkExperience .WorkText{
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.WorkExperience .WorkName{
	float: center;
	padding-top:2px;
	padding-left: 155px;
	font-size: 18px;
	font-weight:bold;
}
.WorkExperience .WorkYear{
	float: right;
	font-size: 18px;
}
.WorkExperience .WorkDesc{
	float: left;
	padding-top:2px;
	padding-left: 155px;
	font-size: 18px;
}

.WorkExperience .oldWorkName{
	float: center;
	padding-top:2px;
	padding-left: 355px;
	font-size: 18px;
	font-weight:bold;
}

.WorkExperience .oldWorkDesc{
	float: left;
	padding-top:2px;
	padding-left: 355px;
	font-size: 18px;
}
